
.sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    width: 60px;
    height: 1000px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 229, 229);
    border-top-style: none;
}

.sidebar-img {
    height: 30px;
    width: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-right: 10px;
}